---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


body{
  background-color: #54556e;
  font-family: "Comfortaa", sans-serif;
  color: #c1c1ca;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
  font-weight: bold;
  color: #ffffff;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(106, 152, 210, 0.85), rgba(106, 210, 172, 0.85)),url(https://devrant-stats.github.io/images/header-background.png);
}
